.bundle
db/*.sqlite3
log/*.log
tmp/**/*
doc/*
data
data/*/*
data/data
data/images
public/images/*
public/**/*
nbproject/*
public/unit_images/*
public/unit_videos/*
*.sublime-workspace
*.DS_Store
.autotest
.idea
bin/
coverage/*
